body {
  font-family: Roboto, Arial;
  color: rgb(33, 33, 33);
  /* To remove all default margins from the body element
   */
  margin: 0;
}

/* To remove all defult margins from p element */
p {
  margin: 0;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

input, select, button {
  font-family: Roboto, Arial;
}

.button-primary {
  color: white;
  background-color: #0b46a7;
  border: 1px solid #0a4bb7;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.button-primary:hover {
  background-color: #0b47a785;
  border: 1px solid #0a4cb780;
}

.button-primary:active {
  background: #0b47a7b9;
  border-color: #0a4cb7b0;
  box-shadow: none;
}

.link-primary {
  color: rgb(1, 124, 182);
  cursor: pointer;
}

.link-primary:hover {
  color: rgb(196, 80, 0);
}

/* Styles for dropdown selectors. */
select {
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

select:focus,
input:focus {
  outline: 2px solid #0b47a785;
}
