/*
General styling for the whole header
*/
.lloyds-header {
  background-color: #0b46a7;
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

/*Seting size for left section and making it dynamic for screen size*/

.lloyds-header-left-section {
  width: 180px;
}

@media (max-width: 800px) {
  .lloyds-header-left-section {
    width: unset;
  }
}

/*Styling for links in the header*/
.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid white;
}

.lloyds-logo {
  width: 100px;
  margin-top: 5px;
}

.lloyds-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

/*find better way to centre*/
.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.lloyds-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.find-learning-text {
  display: block;
  font-size: 13px;
  color: white;
}

.search-text {
  color: white;
  margin-top: 6px;
}


/*Container for both search icon and text*/
.search-container {
  display: flex;
  align-items: center;
}

.search-link {
  font-size: 15px;
  text-decoration: none;
}

.search-link:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
