.main {
  max-width: 1100px;
  padding-left: 30px;
  padding-right: 30px;

  margin-top: 140px;
  margin-bottom: 100px;

  
  margin-left: auto;
  margin-right: auto;
  /* 
     is to centre element without needing a container. */
}

.page-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 18px;
}

.courses-grid {
  display: grid;
  /* 1fr the first column will take
     up remaining space in the grid. */
  grid-template-columns: 1fr 350px;
  column-gap: 12px;

  /* Use align-items: start; to prevent the elements
     in grid from stretching vertically. */
  align-items: start;
}

/*
  media type for interactive displays on different screen sizes
*/

@media (max-width: 1000px) {
  .main {
    max-width: 500px;
  }

  .courses-grid {
    grid-template-columns: 1fr;
  }
}

.selected-path-container,
.course-navigation {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  padding: 18px;
}

.selected-path-container {
  margin-bottom: 12px;
}

.course-navigation {
  padding-bottom: 5px;
}

@media (max-width: 1000px) {
  .course-navigation {
    /* grid-row: 1 this element will be placed in row
      1 in the grid.  */
    grid-row: 1;
    margin-bottom: 12px;
  }
}

.path-title {
  color: #0b46a7;
  font-weight: 700;
  font-size: 19px;
  margin-top: 5px;
  margin-bottom: 22px;
}

.selected-path-details-grid {
  display: grid;
  /* 100px 1fr 1fr; the second and third items
      will divide up the remaining space evenly. */
  grid-template-columns: 100px 1fr 1fr;
  column-gap: 25px;
}

@media (max-width: 1000px) {
  .selected-path-details-grid {
    grid-template-columns: 100px 1fr;
    row-gap: 30px;
  }
}

.path-image {
  max-width: 100%;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
}

.path-name {
  font-weight: 700;
  margin-bottom: 8px;
}

.link-primary {
  margin-left: 3px;
}

@media (max-width: 1000px) {
  .course-options {
    /* grid-column: 1 this element will be placed
       in column 1 in the grid. 
       
       / span 2  this element will take up 2 columns
       in the grid. */
    grid-column: 1 / span 2;
  }
}

.course-options-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.course-option {
  display: grid;
  grid-template-columns: 24px 1fr;
  margin-bottom: 12px;
  cursor: pointer;
}

.course-option-input {
  margin-left: 0px;
  cursor: pointer;
}

.course-title {
  color: #0b46a7;
  font-weight: 500;
  margin-bottom: 3px;
}

.course-descriptions {
  color: rgb(120, 120, 120);
  font-size: 15px;
}

.course-navigation-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.begin-course-button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;

  margin-top: 11px;
  margin-bottom: 15px;
}
