.main {
  margin-top: 60px;
}

/*So the banner is the width of the screen and keeps aspect ratio*/
.home-banner {
  width: 100%;
  height: auto;
}

.happening-text,
.awaiting-section
 {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.happening-text {
  padding-left: 20px;
}

.awaiting-section {
  margin-top: 15px;
  background-color: rgb(240 241 242);
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 40px;
  margin-bottom: 5%;
}

.awaiting-task {
  margin-left: 90px;
  margin-top: 50px;
}

.white-widget {
  background-color: white;
  padding: 20px 40px;
  margin-right: 5%;
  margin-top: 3%;
}

.paths-grid {
  display: grid;

  /* - 1fr means a column will take up the
       remaining space in the grid.
        shortcut to divide into 8 equal parts 
    
       */
  grid-template-columns: repeat(8, 1fr);
}

/* @media used to create responsive design 
  if smaller divide into 7 equal parts
  */
@media (max-width: 2000px) {
  .paths-grid {
    grid-template-columns: repeat(7, 1fr);
  }
}


@media (max-width: 1600px) {
  .paths-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1300px) {
  .paths-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1000px) {
  .paths-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .paths-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .paths-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .paths-grid {
    grid-template-columns: 1fr;
  }
}

.path-container {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  display: flex;
  flex-direction: column;
}

.path-image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  margin-bottom: 20px;
}

.path-image {
  /*So image does not overflow container. */
  max-width: 100%;
  max-height: 100%;
}

.path-name {
  height: 40px;
  margin-bottom: 5px;
}

.path-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.path-rating-stars {
  width: 100px;
  margin-right: 6px;
}

.path-rating-count {
  color: rgb(1, 124, 182);
  cursor: pointer;
  margin-top: 3px;
}

.path-spacer {
  flex: 1;
}

.go-to-path-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}



.page-title {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 25px;
}



/* Centering user input div horizontally */
.centre {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
 
}

.button-space {
  margin-top: 15px;
}

.text-space {
  margin-top: 5px;
  margin-left: 5px;
}